[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
cachetools = ">=5.0.0"
fastapi = ">=0.75.0"
pyAirtable = '>=1.1.0'
"pyjwt[crypto]" = ">=2.3.0"
python-jose = ">=3.3.0"
mangum = ">=0.14.1"
uvicorn = ">=0.17.5"

[dev-packages]
autopep8 = '>=1.5.5'
pytest = '>=6.2.2'
